<p id="notice"><%= notice %></p>

<p>
  <b>Score:</b>
  <%= @grade.score %>
</p>

<p>
  <b>Class name:</b>
  <%= @grade.class_name %>
</p>


<%= link_to 'Edit', edit_grade_path(@grade) %> |
<%= link_to 'Back', grades_path %>
